// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.paid {
color: green;
}

.not-paid {
  color: red;
}


.text-box {
  top: 0;
  right: 0;
}

.main {
  padding: 20px;
}
